<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>河南高校计算机专业数据分析</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">

</head>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item" style="font-size: 19px">河南高校计算机专业信息分析</li>

    <li class="layui-nav-item"><a href="/">数据总览</a></li>
    <li class="layui-nav-item"><a href="/allSchool">按高校查看</a></li>
    <li class="layui-nav-item"><a href="/allDataName">按信息种类查看</a></li>
    <li class="layui-nav-item"><a href="/analyse">数据分析</a></li>

</ul>
<div class="datas">
    <table class="layui-table">
        <thead>
        <tr>
            <th>学校名称</th>
            <th th:each="name : ${names}" th:text="${name.name}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="school : ${schoolDatas}">
            <td th:text="${school.getName()}"></td>
            <td th:each="data : ${school.getDatas()}" th:text="${data}"></td>
        </tr>
    </table>
</div>

<script src="../static/layui/layui.js"></script>
<script th:inline="none">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','element','table'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,element = layui.element;
        var table = layui.table;
    });

</script>
</body>
</html>