<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>河南高校计算机专业数据分析</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        h3{
            text-align: center;
            margin: 15px auto;
            color: #777777;
        }
    </style>
</head>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item" style="font-size: 19px">河南高校计算机专业信息分析</li>

    <li class="layui-nav-item"><a href="/">数据总览</a></li>
    <li class="layui-nav-item"><a href="/allSchool">按高校查看</a></li>
    <li class="layui-nav-item"><a href="/allDataName">按信息种类查看</a></li>
    <li class="layui-nav-item"><a href="/analyse">数据分析</a></li>

</ul>
<div class="datas">
    <h3 th:text="${school.getName()+'计算机专业信息概览'}"></h3>
    <table class="layui-table">
        <thead>
        <tr>
            <th>信息编号</th>
            <th>信息名称</th>
            <th>数据</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="content : ${contents}">
            <td th:text="${content.getDataNum()}"></td>
            <td th:text="${map.get(content.getDataNum())}"></td>
            <td th:text="${content.getData()}"></td>
        </tr>
    </table>
</div>

<script src="../static/layui/layui.js"></script>
<script th:inline="none">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form','element','table'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,element = layui.element;
        var table = layui.table;
    });

</script>
</body>
</html>