<div class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"></div>
            <div class="title">我的</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page-content">
        <div class="mes">
            <div class="mes-head"><img src="../static/images/nomal/head.png" alt=""></div>
            <div class="mes-name">孟郎诗词</div>
            <div class="mes-version">V 2.2</div>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a href="/about/" class="item-link item-content">
                        <div class="item-media"><i class="iconfont iconguanyu"></i></div>
                        <div class="item-inner">
                            <div class="item-title">关于我们</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/version/" class="item-link item-content">
                        <div class="item-media"><i class="iconfont iconbanben"></i></div>
                        <div class="item-inner">
                            <div class="item-title">版本信息</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>