<div class="page page-phraseList">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>返回</span>
                </a>
            </div>
            <div class="title">名句香阁</div>
            <a class="right iconfont iconsousuo1 link" href="/search/"></a>
        </div>
    </div>
    <div class="page-content phrase-inf infinite-scroll-content">
        <div class="phrase-list">

        </div>
        <div class="preloader infinite-scroll-preloader phraseList-preloader"></div>
    </div>
</div>