<div class="page page-poemList" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span>返回</span>
                </a>
            </div>
            <!--/*@thymesVar id="pageName" type="cn"*/-->
            <div class="title" th:text="${pageName}"></div>
            <a class="right iconfont iconsousuo1 link" href="/search/"></a>
        </div>
    </div>
    <div class="page-content poem-inf infinite-scroll-content" th:id="${'poemList-' + poemListId}">
        <div class="list media-list poem-list">
            <ul>

            </ul>
        </div>
        <div class="preloader infinite-scroll-preloader poemList-preloader"
             th:id="${ 'poemList-preloader-' + poemListId}"></div>
    </div>
</div>